/*@define-color window_bg_color #{bg};*/
/*@define-color window_fg_color #{fg};*/
/*@define-color view_bg_color #{bg};*/
/*@define-color view_fg_color #{fg};*/

.msg-win.scrolled {{
  border-top: 1px solid #{msgsep};
}}

.popupmenu-listview,
.popupmenu-row {{
  color: #{pmenu_fg};
  background-color: #{pmenu_bg};

  padding-top: {linespace_top}px;
  padding-bottom: {linespace_bottom}px;
}}

.popupmenu-listview > :selected,
.popupmenu-listview > :selected > .popupmenu-row {{
  color: #{pmenu_sel_fg};
  background-color: #{pmenu_sel_bg};
}}

.popupmenu scrollbar {{
  background-color: #{pmenusbar_bg};
}}

.popupmenu slider {{
  background-color: #{pmenuthumb_bg};
  border-color: #{pmenuthumb_bg};
}}

tabline {{
  {font}
  background-color: #{tablinefill_bg};
  box-shadow: inset -2px -70px 10px -70px rgba(0,0,0,0.75);
}}

tabline tab label {{
  background-color: #{tabline_bg};
  color: #{tabline_fg};
  box-shadow: inset -2px -70px 10px -70px rgba(0,0,0,0.75);
  padding: 0.5rem 1rem;
}}

tabline tab.selected label {{
  background-color: #{tablinesel_bg};
  color: #{tablinesel_fg};
}}

cmdline {{
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* TODO(ville): Make the shadow color configurable. */
  box-shadow: 0px 0px 10px 0px #000000;

  {font}
}}

cmdline textview, cmdline text {{
  background-color: #{bg};
  color: #{fg};
  caret-color: #{fg};
}}

cmdline #input {{
  padding: 1rem;
  background-color: #{bg};
}}
